.wrapContentDetail {
  padding: 40px 20px;
  border-radius: 20px;
}

.wrapContentDetail h3 {
  font-weight: 700;
}

.wrapButton {
  padding: 20px 20px;
  border-radius: 10px;
}

.wrapButton button {
  padding: 14px;
  border-radius: 20px;
}

.wrapTicket {
  padding: 20px 40px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url(../../assets/ticketBg.svg);
}

.PriceTicket {
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width: 1400px) {
  .wrapTicket {
    padding: 20px 40px;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 992px) {
  .wrapContentDetail {
    margin-top: 30px;
  }
}
